<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.procesosoperaciones.app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="App PyO"
        android:roundIcon="@mipmap/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="PyO app">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".GeneralInstructions"
            android:label="Instrucciones generales"></activity>
        <activity
            android:name=".Instructions"
            android:label="..."></activity>
        <activity android:name=".BossActivity"></activity>
    </application>

</manifest>